@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;
    }
}

@layer components {
    .hero-bg {
        @apply absolute h-screen w-full bg-cover bg-right-top;
    }
}

.-z-index-1 {
    z-index: -1;
}

.hero-bg {
    background-image: url("./assets/hero-bg.jpg");
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 4px 0;
  place-items: center;
  overflow: hidden;
}
