@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
}

@layer components {
    .bg {
        @apply relative;
        background-image: url("../../assets/bg-chad-montano-unsplash.jpg");
    }
}

.-z-index-1 {
    z-index: -1;
}

.hero-bg {
    background-image: url('./assets/bg-chad-montano-unsplash.jpg');
}

.hero-title {
    max-width: 18ch;
}
